# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.firebase
.netlify
.pnp
.pnp.js
.vercel
*.pem
/.next/
/.pnp
/build
/coverage
/out/
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

apiGoogleconfig.json
