html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

textarea {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  height: 50vh;
}

/* show/hide table vs mobile panes */
@media (max-width: 600px) {
  .desktop-pane {
    display: none;
  }
  .mobile-pane {
    display: block;
  }
}
@media (min-width: 600px) {
  .desktop-pane {
    display: flex;
  }
  .mobile-pane {
    display: none;
  }
}

.add-pane {
  padding: 8px;
}
.list-pane {
  padding: 8px;
}
.views-pane {
  flex-basis: 10em;
  padding: 8px;
}
/* .desktop-pane {
  display: flex;
} */
