.navigator-view {
  height: 100%;
  flex-basis: 20em;
  flex-shrink: 0;
  overflow-y: auto;
  padding: 2px;
  background: white;
  font-size: 0.8em;
}

.navigator-view-items {
  cursor: pointer;
}
.navigator-view-item {
  /* cursor: pointer; */
  /* overflow-x: hidden; */
  white-space: nowrap;
}
.navigator-view-item.nofocus {
  background: white;
}
.navigator-view-item.focus {
  background: lightblue;
}
.navigator-view-item:hover {
  background: #eee;
}
