

/* //. override defaults here. better way? */
.tabulator {
  font-size: 13px !important;
  height: 100%;
}
.tabulator-tableHolder {
  padding-bottom: 10em;
}
.tabulator-row {
  border-bottom: 1px solid #ddd;
  background: none;
}
.tabulator-row .tabulator-cell {
  border-right: 1px solid #ddd !important;
}
.tabulator-row.tabulator-row-even:not(.tabulator-selected) {
  background: none;
  /* background: white; */
}
.tabulator-row.tabulator-selectable:hover:not(.tabulator-selected) {
  background: #f2f2f2 !important;
}
.tabulator-row.tabulator-selected,
.tabulator-row.tabulator-selected:hover {
    /* background: #9ABCEA; default */
  background: #cbdff8;
}

.tabulator-row .tabulator-cell {
  padding: 0px 4px;
  height: 1.7em !important;
}

.tabulator-row.tabulator-group {
  background: #d6dbf1;
}
.tabulator-row.tabulator-group span {
  color: gray;
}

.tabulator-row .tabulator-cell .tabulator-data-tree-branch {
  visibility: hidden;
}

